<app-movie-search (success)="getSearchKey($event)"></app-movie-search>
<app-movie-list [movies]="movies" [flag]="flag" [totalItems]="totalItems" (onPageChanged)="pageChanged($event)"></app-movie-list>


<!-- for welcome message on home page  -->
<!-- <div class="jumbotron mt-3 mx-4" *ngIf="hidden">
  <h3 class="display-4">Welcome Home!</h3>
  <p class="lead">Search your movie by entering movie in the search bar.</p>
  <hr class="my-4">
  <p>A great place to search your favourite movies.</p>
</div> -->

