<div class="row">
    <div class="col-md-4 col-sm-6 px-0">
     <img *ngIf="movie.poster_path" class="img-fluid d-block mx-auto px-0" [attr.src]="movieUrl+movie.poster_path" alt="Image not found"> 
     <img *ngIf="!movie.poster_path" class="img-fluid d-block mx-auto px-0" src="https://gl-images.condecdn.net/image/Qd470kwpjnn/crop/405/f/Hugh-Jackman_glamour_20may14_rex_b.jpg" alt="Image not found"> 
    </div>
   <div class="col-md-8 col-sm-6 px-0">
    <div class="card-body pt-0">
      <h5 class="card-title text-center ">{{movie.title}}</h5>
      <p class="card-text"><strong>Overview:</strong>&nbsp;{{(movie.overview .length>70)? (movie.overview | slice:0:140)+'..':(movie.overview)}}</p>
      <p class="card-text"><strong>Rating:</strong> {{movie.vote_average}}</p>
    </div>
  </div>
  <div *ngIf="flag === 'search'">
    <a class="btn btn-primary btn-add" (click)="addToFavorite(movie)" >Add to favourite</a>
  </div>
  <!-- <div *ngIf="flag === 'list'">
    <a class="btn btn-danger btn-add" (click)="deleteMovie(movie._id)" >Delete</a>
    <button type="button" class="btn btn-primary btn-update" (click)="open(content)">
      Update
    </button>
  </div> -->
  </div>